<div class="container">
  <div class="bg-gray-100 flex justify-center items-center h-screen">
    <!-- Left: Image -->
    <div class="w-1/2 h-screen hidden lg:block">
      <img src="https://cdn2.fptshop.com.vn/unsafe/1920x0/filters:quality(100)/2024_1_29_638421139546681934_avatar-one-piece-52.jpg" alt="Placeholder Image" class="object-cover w-full h-full">
    </div>
    <!-- Right: Login Form -->
    <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
      <h1 class="text-2xl font-semibold mb-4">Login</h1>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <!-- Username Input -->
        <div class="mb-4">
          <label for="username" class="block text-gray-600">Username</label>
          <input type="text" id="username" name="username" [(ngModel)]="authRequest.username" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
        </div>
        <!-- Password Input -->
        <div class="mb-4">
          <label for="password" class="block text-gray-600">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="authRequest.password" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off">
        </div>
        <!-- Remember Me Checkbox -->
        <div class="mb-4 flex items-center">
          <input type="checkbox" id="remember" name="remember" class="text-blue-500">
          <label for="remember" class="text-gray-600 ml-2">Remember Me</label>
        </div>
        <!-- Forgot Password Link -->
        <div class="mb-6 text-blue-500">
          <a class="hover:underline">Forgot Password?</a>
        </div>
        <!-- Login Button -->
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">Login</button>
      </form>
      <!-- Sign up  Link -->
      <div class="mt-6 text-blue-500 text-center">
        <a class="hover:underline" (click)="registerClick()">Sign up Here</a>
      </div>
    </div>
  </div>
<!--  <a href="https://accounts.google.com/o/oauth2/auth?scope=email profile openid-->

<!--&redirect_uri=http://localhost:8080/OriginShop/login-->

<!--&response_type=code-->

<!--&client_id=56418772508-nbp9quvd1915n9imna31jl1eqo0a3mii.apps.googleusercontent.com-->

<!--&approval_prompt=force">Login with Google</a>-->
  <a href="/oauth2/authorization/google">Login with google</a>

  <router-outlet/>
</div>


