<!-- This is an example component -->
<div>
<!--  <div class="bg-white shadow-sm sticky top-0">-->
<!--    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-1 md:py-4">-->
<!--      <div class="flex items-center justify-between md:justify-start">-->
<!--        &lt;!&ndash; Menu Trigger &ndash;&gt;-->
<!--        <button type="button" class="md:hidden w-10 h-10 rounded-lg -ml-2 flex justify-center items-center">-->
<!--          <svg class="text-gray-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />-->
<!--          </svg>-->
<!--        </button>-->
<!--        &lt;!&ndash; ./ Menu Trigger &ndash;&gt;-->

<!--        <a href="" class="font-bold text-gray-700 text-2xl">Shop.</a>-->

<!--        <div class="hidden md:flex space-x-3 flex-1 lg:ml-8">-->
<!--          <a href="#" class="px-2 py-2 hover:bg-gray-100 rounded-lg text-gray-400 hover:text-gray-600">Electronics</a>-->
<!--          <a href="#" class="px-2 py-2 hover:bg-gray-100 rounded-lg text-gray-400 hover:text-gray-600">Fashion</a>-->
<!--          <a href="#" class="px-2 py-2 hover:bg-gray-100 rounded-lg text-gray-400 hover:text-gray-600">Tools</a>-->
<!--          <a href="#" class="px-2 py-2 hover:bg-gray-100 rounded-lg text-gray-400 hover:text-gray-600">Books</a>-->
<!--          <a href="#" class="px-2 py-2 hover:bg-gray-100 rounded-lg text-gray-400 hover:text-gray-600">More</a>-->
<!--        </div>-->

<!--        <div class="flex items-center space-x-4">-->
<!--          <div class="relative hidden md:block">-->
<!--            <input type="search" class="pl-10 pr-2 h-10 py-1 rounded-lg border border-gray-200 focus:border-gray-300 focus:outline-none focus:shadow-inner leading-none" placeholder="Search">-->
<!--            <svg class="h-6 w-6 text-gray-300 ml-2 mt-2 stroke-current absolute top-0 left-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />-->
<!--            </svg>-->
<!--          </div>-->

<!--          <a href="cart" class="flex h-10 items-center px-2 rounded-lg border border-gray-200 hover:border-gray-300 focus:outline-none hover:shadow-inner">-->
<!--            <svg class="h-6 w-6 leading-none text-gray-300 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />-->
<!--            </svg>-->
<!--            <span class="pl-1 text-gray-500 text-md">0</span>-->
<!--          </a>-->

<!--          <button type="button" class="hidden md:block w-10 h-10 rounded-lg bg-gray-100 border border-gray-200 flex justify-center items-center">-->
<!--            <img src="https://avatars.dicebear.com/api/bottts/2.svg" alt="bottts" width="28" height="28" class="rounded-lg mx-auto">-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; Search Mobile &ndash;&gt;-->
<!--      <div class="relative md:hidden">-->
<!--        <input type="search" class="mt-1 w-full pl-10 pr-2 h-10 py-1 rounded-lg border border-gray-200 focus:border-gray-300 focus:outline-none focus:shadow-inner leading-none" placeholder="Search">-->

<!--        <svg class="h-6 w-6 text-gray-300 ml-2 mt-3 stroke-current absolute top-0 left-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />-->
<!--        </svg>-->
<!--      </div>-->
<!--      &lt;!&ndash; ./ Search Mobile &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->

  <div class="py-6">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
      <div class="flex flex-col md:flex-row -mx-4">
        <div class="md:flex-1 px-4">
          <div *ngIf="product && product.images">
            <div class="h-64 md:h-80 rounded-lg bg-gray-100 mb-4">
              <ng-container *ngFor="let img of product.images; let i = index">
                <div *ngIf="selectedImage === i" class="h-64 md:h-80 rounded-lg bg-gray-100 mb-4 flex items-center justify-center">
<!--                  <img [src]="img" [alt]="'Product image ' + (i + 1)" class="max-h-full max-w-full object-contain">-->
                    <img alt="ecommerce" class="block h-full w-full object-cover object-center cursor-pointer" *ngIf="img?.image" [src]="'data:image/jpeg;base64,' + img.image.toString()"/>

                </div>
              </ng-container>
            </div>

            <div class="flex -mx-2 mb-4" *ngIf="product.images.length != 1">
              <ng-container *ngFor="let img of product.images; let i = index">
                <div class="flex-1 px-2">
                  <button (click)="selectedImage = i"
                          [ngClass]="{ 'ring-2 ring-indigo-300 ring-inset': selectedImage === i }"
                          class="focus:outline-none w-full rounded-lg h-24 md:h-32 bg-gray-100 flex items-center justify-center">
                    <img alt="ecommerce" class="block h-full w-full object-cover object-center cursor-pointer" *ngIf="img?.image" [src]="'data:image/jpeg;base64,' + img.image.toString()"/>
                  </button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="md:flex-1 px-4">
          <h2 class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl">{{product.name}}</h2>
          <p class="text-gray-500 text-sm">By <a  *ngIf="product.seller?.username" class="text-indigo-600 hover:underline">{{product.seller.username}}</a></p>

          <div class="flex items-center space-x-4 my-4">
            <div>
              <div class="rounded-lg bg-gray-100 flex py-2 px-3">
                <span class="text-indigo-400 mr-1 mt-1">VNĐ</span>
                <span class="font-bold text-indigo-600 text-3xl">{{ product.price }}</span>
              </div>
            </div>
            <div class="flex-1">
              <p class="text-green-500 text-xl font-semibold">Save 12%</p>
              <p class="text-gray-400 text-sm">Inclusive of all Taxes.</p>
            </div>
          </div>

          <p class="text-gray-500">{{ product.description }}</p>

          <div class="flex py-4 space-x-4">
            <div class="relative">
              <div class="text-center left-0 pt-2 right-0 absolute block text-xs uppercase text-gray-400 tracking-wide font-semibold">Qty</div>
              <select class="cursor-pointer appearance-none rounded-xl border border-gray-200 pl-4 pr-8 h-14 flex items-end pb-1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>

              <svg class="w-5 h-5 text-gray-400 absolute right-0 bottom-0 mb-2 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l4-4 4 4m0 6l-4 4-4-4" />
              </svg>
            </div>

            <button type="button" (click)="addCart()" class="h-14 px-6 py-2 font-semibold rounded-xl bg-indigo-600 hover:bg-indigo-500 text-white">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Global notification live region, render this permanently at the end of the document -->
  <div *ngIf="isAddCart" aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
    <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
      <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
        <div class="p-4">
          <div class="flex items-start">
            <div class="flex-shrink-0">
              <svg class="h-6 w-6 text-green-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-3 w-0 flex-1 pt-0.5">
              <p class="text-sm font-medium text-gray-900">Add Cart Successfully!</p>
              <p class="mt-1 text-sm text-gray-500">You have successfully added the product to your cart.</p>
            </div>
            <div class="ml-4 flex flex-shrink-0">
              <button (click)="refreshIsAddCart()" type="button" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <span class="sr-only">Close</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <router-outlet/>
</div>


